.elementor-9478 .elementor-element.elementor-element-419e849 > .elementor-container{max-width:1123px;}.elementor-9478 .elementor-element.elementor-element-419e849{overflow:hidden;border-style:groove;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-9478 .elementor-element.elementor-element-419e849 > .elementor-background-overlay{background-color:#FFF1E5;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9478 .elementor-element.elementor-element-03fcfa4 .elementor-heading-title{color:#A72D2D;}.elementor-9478 .elementor-element.elementor-element-03fcfa4{width:auto;max-width:auto;}.elementor-9478 .elementor-element.elementor-element-e943c2f > .elementor-background-overlay{background-color:#F4F2C8;opacity:0.5;}@media(min-width:768px){.elementor-9478 .elementor-element.elementor-element-fe293b7{width:49.917%;}.elementor-9478 .elementor-element.elementor-element-3c16d4d{width:50.042%;}}/* Start custom CSS for heading, class: .elementor-element-03fcfa4 */.sub-duan3{
    color: #514c4c;
    
font-size: 21px
}
.headingdiv1{
    border-bottom:3px solid #a72d2d ;
    padding-top: 20p;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    
}/* End custom CSS */